@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
// Mixin para el boton
@mixin button-menu ($button-padding, $button-width, $button-background, $button-color, $border-button, $button-border-radius, $cursor-pointer, $transition-button,$margin-button,$button-hover-background, $font-size){
    padding: $button-padding;
    width: $button-width;
    background-color: $button-background;
    color: $button-color;
    border: $border-button;
    border-radius: $button-border-radius;
    cursor: $cursor-pointer;
    transition: $transition-button;
    margin: $margin-button;
    font-size: $font-size;

    &:hover {
        background-color: $button-hover-background;
    }
}

// Uso del mixin en .button-menu
.button-menu {
    button {
        @include button-menu(15px, 200px, rgba(0, 0, 0, 0.89), white, none, 5px, pointer, background-color 0.3s, 20px, #e64919, 18px );
    }
}
// Variables
$font-size: 20px;
$font-weight: bold;
$text-color: white;
$background-gradient: linear-gradient(135deg, #9c0404, #000000);
$hover-background: linear-gradient(135deg, #160b00, #141200);
$padding: 15px;
$text-shadow: 2px 2px 4px rgba(179, 175, 175, 0.5);
$transition: transform 0.3s, background 0.3s;

// Estilos base para el título
%title-producto {
    font-size: $font-size;
    font-weight: $font-weight;
    color: $text-color;
    background: $background-gradient;
    padding: $padding;
    text-shadow: $text-shadow;
    transition: $transition;

    &:hover {
        background: $hover-background;
    }
}

// Extend para reutilizar estilos 
.title-productos {
    text-align: center;
    margin-bottom: 20px;
    @extend %title-producto;
}

//lista para de gradient
$colores-gradient: linear-gradient(90deg, #570101, #000000)/*header*/, linear-gradient(45deg, rgb(247, 235, 203), rgb(255, 255, 255)),/**body**/linear-gradient(to right, #eee7998c, #f8e40b8c)/**footer**/; 

//titulo contacto
$primary-color: #525353;
$font-stack: 'Arial', sans-serif;

// Variables
$precio-text-color: #d87504b2; 
$precio-font-size: 0.9em; 
$precio-font-family: 'Press Start 2P', cursive; // Estilo de letra digital

// Mixin
@mixin precio {
    color: $precio-text-color;
    font-weight: bold;
    display: inline-block;
    font-size: $precio-font-size;
    font-family: $precio-font-family; // Aplicando el estilo de letra digital
}

// Estilo para el producto

    .precio {
        @include precio; //mixin
    }

