//navbar
.navbar {
    font-size: 20px;
    background: linear-gradient(90deg, #570101, #000000);
}

.navbar-brand img {
    width: 130px;
    /* Tamaño del logo */
}

/*iconos y hover sobre los iconos del nav*/
.nav-item img {
    width: 25px;
    height: 25px;
    filter: brightness(10) saturate(80%) invert(80%);
    margin: 5px;
}

.nav-item a:hover {
    background-color: #ff5722;
    border-radius: 10px;
}

// Reset de estilos
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Estilos del body
body {
    background: linear-gradient(45deg, rgb(247, 235, 203), rgb(255, 255, 255));
}

.text-container-text {
    text-align: center; 
    max-width: 80%;
    
    h2 {
        font-size: 25px; 
        margin-bottom: 15px;
    }
    
    p {
        font-size: 19px;
        margin: 10px 0;
    }
}  


h1 {
    font-weight: 700;
    text-align: center;
}

// Sección de calificaciones
.calificacion {
    display: flex;
    justify-content: center;
    margin-top: 10px;

    .estrella {
        font-size: 25px;
        color: rgb(34, 0, 0);
        margin-right: 5px;
        transition: 0.3s;

        &:hover {
            color: #fffb00;
            transform: translateY(5px);
        }
    }
}