// Media queries
@media screen and (max-width: 2510px) {
    .productos-lista {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
    }
}

@media screen and (max-width: 2480px) {
    .productos-lista {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(550px, 1fr));
    }
}

@media screen and (max-width: 2420px) {
    // Ubicar la última imagen en otra posición
    .galeria-fotos img:last-child {
        grid-column: 4; // Cambia a la columna deseada
        grid-row: 1;    // Cambia a la fila deseada
    }
}

@media screen and (max-width: 2280px) {
    .productos-lista {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    }
}

@media screen and (max-width: 2080px) {
    .productos-lista {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    }
}

@media screen and (max-width: 1880px) {
    .productos-lista {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    }
}

@media screen and (max-width: 1680px) {
    .icono-compra {
        position: absolute;
        color: #ec4015;
        transition: color 0.3s;
    }

    .title-productos {
        font-size: 14px;
        text-align: center;
        margin: 10px;
    }

    .productos-lista {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    }

    // Galería
    .galeria-fotos {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 10px;

        img {
            &:nth-child(2),
            &:nth-child(4),
            &:nth-child(6),
            &:nth-child(10) {
                grid-column: span 1;
                grid-row: span 1;
            }
        }
    }
}

@media screen and (max-width: 1480px) {
    .productos-lista {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

    // Galería
    .galeria-fotos {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}

@media screen and (max-width: 1280px) {
    .productos-lista {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }

    // Galería
    .galeria-fotos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        img {
            &:nth-child(2),
            &:nth-child(9),
            &:nth-child(16) {
                grid-column: span 1;
                grid-row: span 1;
            }
        }
    }
}

// Comienza la query de card de menú
@media screen and (max-width: 1880px) {
    .text-container {
        max-width: 40%;
        margin-right: 5px;
        font-size: 15px;
    }

    .texto-infantil {
        font-size: 16px;
        max-width: 42%;

        img {
            width: 60%;
        }
    }

    footer {
        font-size: 14px;
    }

    // Card menú
    .producto-menu {
        width: calc(25% - 20px);

        .title-menu-img img {
            max-height: 28vh;
            max-width: 28vw;
            height: auto;
            width: auto;
            object-fit: contain;
        }
    }
}

@media screen and (max-width: 1080px) {
    .text-container {
        max-width: 50%;
        font-size: 18px;
    }

    .productos-lista {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }

    .img-personaje img {
        height: 200px;
    }
}

@media screen and (max-width: 880px) {
    .productos-lista {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    }

    .hero-img {
        max-width: 90%;
    }

    .producto-menu img {
        max-width: 100%;
        border-radius: 5px;
    }

    .img-personaje img {
        display: none;
    }

    .texto-infantil img {
        width: 40%;
    }

    .texto-infantil {
        font-size: 16px;
        max-width: 50%;
        justify-content: center;
    }

    .producto-menu {
        width: calc(25% - 20px);
    }
}

@media screen and (max-width: 780px) {
    .productos-lista {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

    .hero,
    .video-hamburguesa {
        flex-direction: column-reverse;
        margin: 20px;
    }

    .text-container {
        max-width: 100%;
        font-size: 18px;
    }

    .nosotros-text {
        max-width: 100%;
        font-size: 22px;
    }

    .hero-img {
        max-width: 60%;
        margin: 0 auto;
        display: block;
    }

    h1 {
        font-size: 22px;
    }

    .button-menu button {
        padding: 10px;
        width: 100px;
        margin: 10px;
    }

    .video-hamburguesa {
        flex-direction: column;

        video {
            max-width: 100%;
        }
    }

    .producto-menu {
        width: calc(50% - 20px);
    }
}

@media screen and (max-width: 680px) {
    .productos-lista {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        justify-content: center;
    }

    .text-container {
        font-size: 14px;
    }

    .nosotros-text {
        max-width: 100%;
        font-size: 20px;
    }

    // Delivery
    .logo-empresa {
        width: 60px;
        height: auto;
    }

    .galeria-fotos {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 580px) {
    .producto-menu {
        width: calc(40%);
    }
}

@media screen and (max-width: 480px) {
    .infantil {
        flex-direction: column;
        align-items: center;
    }

    .texto-infantil {
        font-size: 14px;
        max-width: 100%;

        img {
            width: 40%;
        }
    }

    .producto-menu {
        width: 100%;
    }
}
